.std{
    border: 1px solid black;
    width: 200px;
    height: 150px;
    background-color: gray;
    color: aqua;
    padding: auto;
    margin: 5px;
}
p{
    margin-left: 10px;
}
h3{
    margin-left: 10px;
}
button{
    
    margin-bottom: 30%;
    margin-left: 10px;
}